[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

dj-database-url = "==0.4.2"
flask = "==0.12.2"
flask-migrate = "==2.1.1"
flask-script = "==2.0.6"
flask-sqlalchemy = "==2.3.2"
gunicorn = "==19.7.1"
"jinja2" = "==2.10"
"psycopg2" = "==2.7.3.2"
"py2app" = "==0.7.3"
pyinstaller = "==3.2.1"
python-dateutil = "==1.5"
python-editor = "==1.0.3"
sqlalchemy = "==1.2.2"
virtualenv = "==15.1.0"
werkzeug = "==0.14.1"
whitenoise = "*"
django-haystack = "==2.5.1"
elasticsearch = "==5.0.1"
