Django==1.10.8
dj_database_url==0.4.2
django_haystack==2.7.dev1

Flask==0.12.2
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
Jinja2==2.10
psycopg2==2.7.3.2
py2app==0.7.3
PyInstaller==3.2.1
python-dateutil==1.5
python-editor==1.0.3
SQLAlchemy==1.2.2
virtualenv==15.1.0
Werkzeug==0.14.1
whitenoise==3.3.1
elasticsearch==1.7.6
elasticsearch==5.0.1